/*Mainly for background */
body {
    image-rendering: crisp-edges;
    background-image: url(./Images/BackgroundImage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 70%;
}