<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="main.css">
        <script type="text/javascript" src = "main.js"></script>
        <title>Game Name</title>
    </head>
    <body>
        <div class="container">
            <div class="name">
                <p>Orion</p>
            </div>
            <div class="dialogue">
                <p>Hi there! I'm Orion and I welcome *you* to... The Frog Pond, The finest drinking establishment on the pond.<p>
            </div>
            <div class="options">
                <button id="op1" onclick = "chooseDialogue(0);">Nice to meet you too!</button>
                <button id="op2">Get me something to drink.</button>
                <button id="op3">...</button>
            </div>
        </div>
    </body>
</html>