@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
/* CSS Document */
* { padding: 0; 
	margin: 0;
}

html {
	width: 100%;
	height: auto;
	padding: 0; 
	margin: 0;
}

body {
	width: 100%;
	min-height: 100%;
	margin: 0px 0px;
	padding: 0; 
	margin: 0;
}

.box {
	height: 200px;
	display: grid;
	justify-content: center;
	align-items: center;
}

.button {
	display: block;
	padding: 10px 20px;
	color: white;
	background-color: rgb(113 197 98);
	border-radius: 9px;
	text-decoration: none;
	font-family: 'Kdam Thmor Pro', sans-serif;
	text-align: center;
}


.menu, .start{
	/*padding: 30px 60px;*/
	font-size: 36px;
	margin: 10% 0px 10% 0px;
	background-color: transparent;
	cursor: pointer;
}

.start{
	margin-top: 23%;
}

.title {
	text-align: center;
	font-size: 100px;
	color: white;
}

.startMenu {
	background-color: black;
}

.menu:hover, .start:hover {
	color: rgb(113 197 98);
}

.disclaimer {
	color: white;
	font-family: 'Kdam Thmor Pro', sans-serif;
	position: absolute;
	bottom: 4%;
	left: 2%;
}
#disclaimer{
	font-weight: bold;
}

.container {
	max-width: 95%;
	margin: 20px auto;
	min-height: 90vh;
	padding: 15px;
	position: relative;
	display: block;
}

.name {
	background-color: #ad8f18;
	font-family: 'Kdam Thmor Pro', sans-serif;
	font-size: 23px;
	padding: 13px 31px;
	width: fit-content;
	margin-left: calc(45vh + 20px);
	border-radius: 10px 10px 0 0;
	position: absolute;
	bottom: 22%;
	color: white;
	font-weight: bold;
	left: -19%;
}

.dialogue {
	font-family: 'Kdam Thmor Pro', sans-serif;
	font-size: 21px;
	padding: 10px 35px;
	display: block;
	/*padding: 3.9% 6.8%;*/
	background-color: #e0d192;
	width: 98.68%;
	padding-bottom: 90px;
	border-top: 13px solid #ad8f18;
	/*margin: 70% 20% 0px 20%;*/
	margin-left: 0px;
	position: absolute;
	bottom: -1.8%;
	left: -3%;
	right: 0px;
	margin: 0 auto;
}

.options{
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	bottom: 25px;
}

button {
	position: relative;
	cursor: pointer;
    background-color: #f0bb5a;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    border: 3px solid #fff;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 20px;
	text-align: center;
}

button:hover {
	color: #f0bb5a;
	background: white;
	border: 3px solid #f0bb5a;
}

#op1, #op2, #op3 {
	margin: -1.5% 1.5%;

}

